
header {
    margin-top: 3.384rem;
}

div.headerwrap {
    position: relative;
}

img.header-pano {
    width: 100%;
    top:-50%;
    display: block; /*removes bottom padding*/
}

div.logo-in-banner {
    position: absolute;
    padding: 4.4rem 2.5rem;}


img.logo-img-in-banner {
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 769px) {
    header {
        margin-top: 5.826rem;
    }
   
    div.logo-in-banner {
   display: none;
    }
    
}