section.news {
    background-color: #FFBC42;
}
article.news-events {
    
    gap:20px;
    padding: 25px;
}

div.news-content {
    border-bottom: 2px solid #8F2D56;

}
div.two-columns {
    display: flex;
gap: 25px;
}

p.learn-more-link {
    color: #8F2D56;
    font-weight: bold;
}




