footer {
    color: #FFF;
    font-size: 0.88rem;
    font-weight: 100;
    line-height: 1.25rem;
   
}

div.address-mobile {
    display: none;
}

div.footer-columns-wrapper {
    padding: 1.25rem;
background-color: #218380;
display: grid;
grid-template-columns: repeat(4, minmax(0, 1fr));
gap: 1.25rem;
}

@media screen and (max-width: 767px) {
    footer {
        color: #FFF;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.9rem;
       
    }
    
    div.footer-columns-wrapper {
        display: flex;
        gap: 1.25rem;
        flex-direction: column;
    }

    div.address-desktop {
        display: none;
    }

    div.address-mobile {
        display: block;
        background-color: #FFBC42;
        color: black;
        padding: 1.25rem;
    }
   
}

div.copyright {
background-color: #8F2D56;
font-size: 0.88rem;
text-align: center;
padding: 1.25rem;
}

.boldTitle {
    font-weight:bold;
}

.footerMenuFirstLevel {
    margin-bottom: 0.63rem;
}
/*TODO check whether padding for footer needs to be increase expecially for mobile version*/
.footer-column div:has(a) {
    padding-bottom: 0.38rem;
}

.footer-column a:hover {
    color:#8F2D56
}

img.footer-fb-icon {
    display: inline-block;
    margin-top: -0.3rem;
}