section.news {
    background-color: #FFBC42;
    padding-bottom: 30px;
}
article.news-events {
    
    gap:20px;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 2px solid #8F2D56;
}

article.news-events:after  {
    border-bottom: 2px solid #8F2D56;
   
}

div.news-content {
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}
div.two-columns {
    display: flex;
gap: 25px;
}

@media screen and (max-width: 426px) {
    div.two-columns {
        flex-direction: column;
        align-items: center;
    }
}

p.learn-more-link {
    color: #8F2D56;
    font-weight: bold;
}

div.thumb-image img {
    max-width: 150px;
    max-height: 150px;
    
}

div.news-content h3 {
    font-weight: bold;
}



