section.news {
    background-color: #FFBC42;
    padding-bottom: 1.88rem;
}
article.news-events {
    
    gap:1.25rem;
    padding: 1.57rem;
    margin-left: 1.57rem;
    margin-right: 1.57rem;
    border-bottom: 0.13rem solid #8F2D56;
}

article.news-events:after  {
    border-bottom: 0.13rem solid #8F2D56;
   
}

div.news-content {
    
    display: flex;
    flex-direction: column;
    gap: 0.32rem;
}
div.two-columns {
    display: flex;
gap: 1.57rem;
}

@media screen and (max-width: 426px)  {
    div.two-columns {
        flex-direction: column;
        align-items: center;
    }
}

p.learn-more-link {
    color: #8F2D56;
    font-weight: bold;
}

div.thumb-image img {
    max-width: 150px;
    max-height: 150px;
    
}

div.news-content h3 {
    font-weight: bold;
}



